.tribe-common .tribe-common-c-btn,
.tribe-common .tribe-common-c-btn-border,
.tribe-common a.tribe-common-c-btn-border,
.tribe-events .tribe-events-c-ical__link {
	@extend .btn;
	@extend .btn-primary;
}

.tribe-events .tribe-events-c-ical__link:before {
	color: #fff;
}

.admin-bar .tribe-events.tribe-common--breakpoint-medium .datepicker {
	margin-top: 0;
}

.tribe-events .datepicker .day.active, .tribe-events .datepicker .day.active.focused, .tribe-events .datepicker .day.active:focus, .tribe-events .datepicker .day.active:hover, .tribe-events .datepicker .month.active, .tribe-events .datepicker .month.active.focused, .tribe-events .datepicker .month.active:focus, .tribe-events .datepicker .month.active:hover, .tribe-events .datepicker .year.active, .tribe-events .datepicker .year.active.focused, .tribe-events .datepicker .year.active:focus, .tribe-events .datepicker .year.active:hover {
	background: $brand-primary;
}

.tribe-events .tribe-events-calendar-month__day--current .tribe-events-calendar-month__day-date, .tribe-events .tribe-events-calendar-month__day--current .tribe-events-calendar-month__day-date-link {
	color: $brand-primary;
}

.tribe-common .tribe-common-h4 {
	@extend h3;
	margin-top: 0;
}

.tribe-common .tribe-common-h3 {
	@extend h3;
	margin-top: 13px;
}

.tribe-common--breakpoint-medium.tribe-common .tribe-common-h4 {
	font-size: $font-size-h5 !important;
}

.tribe-events-cal-links {
	a:first-of-type {
		margin-right: 20px;
	}
}

.single-tribe_events .tribe-events-venue-map {
	margin: 0;
	padding: 0;
	width: 100%;
}

.tribe-events-gmap {
	display: block;
	margin-top: 15px;
}

.tribe-organizer-tel,
.tribe-organizer-email {
	font-weight: 300;
}

.tribe-events-calendar-month__day--current {
	background-color: lighten($brand-primary, 64%);
}
