.gform_fields {
	@extend .list-unstyled;
	@extend .row;

	.gfield {
		margin-bottom: 15px;

		&.gfield_visibility_hidden {
			display: none;
		}

		&.hidden_label {
			label.gfield_label {
				display: none;
			}
		}

		> label {
			font-size:     $font-size-small;
			font-weight:   600;
			margin-bottom: 0;
			margin-bottom: 0;

			> .gfield_required {
				color:        $brand-red;
				padding-left: 2px;
			}
		}

		input:not([type='radio']):not([type='checkbox']), select, textarea {
			@extend .form-control;
			border-radius: $border-radius-small;
			font-size:     $font-size-small;
			font-weight:   300;
			width:         100%;

			&::placeholder {
				font-weight: 300 !important;
			}
		}

		&.gsection {
			h2 {
				margin: ceil(($line-height-computed / 2)) 0 0;
			}

			&:not(:first-of-type) {
				h2 {
					border-top:  1px solid $gray-lighter;
					padding-top: 28px;
				}
			}
		}
	}
}

.gfield_html {
	p {
		margin-bottom: 0;
	}
}

.gform_button {
	@extend .btn;
	@extend .btn-primary;
	margin-bottom: 15px;
}

.gfield_checkbox {
	list-style-type: none;
	margin:          0;
	padding:         0;

	li {
		&:not(:only-of-type),
		&:not(:last-of-type) {
			margin-bottom: 10px;
		}
	}

	label {
		cursor:        pointer;
		font-size:     $font-size-base;
		font-weight:   300;
		margin-bottom: 0;
		padding-left:  35px;
		position:      relative;

		&:after {
			clear:   both;
			content: '';
			display: table;
		}

		input[type='checkbox'] {
			display: none;

			+ .cr {
				left:     0;
				position: absolute;
				top:      0;

				> .cr-icon {
					opacity:    0;
					transform:  scale(3) rotateZ(-20deg);
					transition: all $speed $easing;
				}
			}

			&:checked {
				+ .cr {
					background: $brand-primary;
					color:      #ffffff;

					> .cr-icon {
						opacity:   1;
						transform: scale(1) rotateZ(0deg);
					}
				}
			}

			&:disabled {
				+ .cr {
					> .cr-icon {
						opacity: .5;
					}
				}
			}
		}
	}

	.cr {
		border:        2px solid $brand-primary;
		border-radius: $border-radius-small;
		display:       inline-block;
		float:         left;
		height:        $font-size-large;
		margin-right:  ceil(($line-height-computed / 2));
		position:      relative;
		width:         $font-size-large;

		.cr-icon {
			font-size:   .8em;
			left:        15%;
			line-height: 0;
			position:    absolute;
			top:         50%;
		}
	}
}
