.gform_fields {
	@extend .list-unstyled;
	@extend .row;

	.gfield {
		margin-bottom: 15px;

		&.gfield_error {
			@extend .has-error;
		}

		.gfield_description {
			font-size: $font-size-small;
			font-weight: 300;
			margin-top: 5px;

			&.validation_message {
				@extend .text-danger;
				@extend .bg-danger;
				padding: 5px;
			}
		}

		&.gfield_visibility_hidden {
			display: none;
		}

		&.hidden_label {
			label.gfield_label {
				display: none;
			}
		}

		> label {
			font-size:     $font-size-small;
			font-weight:   600;
			margin-bottom: 0;
			margin-bottom: 0;

			> .gfield_required {
				color:        $brand-red;
				padding-left: 2px;
			}
		}

		input:not([type='radio']):not([type='checkbox']), select, textarea {
			@extend .form-control;
			border-radius: $border-radius-small;
			font-size:     $font-size-small;
			font-weight:   300;
			width:         100%;

			&::placeholder {
				font-weight: 300 !important;
			}
		}

		&.gsection {
			h2 {
				margin: ceil(($line-height-computed / 2)) 0 0;
			}

			&:not(:first-of-type) {
				h2 {
					border-top:  1px solid $gray-lighter;
					padding-top: 28px;
				}
			}
		}
	}
}

.ginput_container_radio,
.ginput_container_checkbox {
	ul.gfield_radio,
	ul.gfield_checkbox {
		list-style: none;
		margin:     0;
		padding:    0;

		li {
			label {
				font-weight: 300;

				input {
					float: left;
					margin-right: ceil($line-height-computed / 2);
				}
			}
		}
	}
}

.gfield_html {
	p {
		margin-bottom: 0;
	}
}

.gform_button {
	@extend .btn;
	@extend .btn-primary;
	margin-bottom: 15px;
}
