header:not( [class] ) {
	background-color: #ffffff;
	border-bottom:    1px solid $brand-primary;
}

.navbar {
	border-radius: 0;
	margin-bottom: 0;
}

.navbar-default {
	background: transparent;
	border:     0;

	.navbar-collapse {
		border:     0;
		border-top: 1px solid $brand-primary;
	}

	.navbar-nav {
		background: #ffffff;
		margin:     0 -15px;

		> li {

			> a {
				border-bottom: 1px solid $gray-lighter;
				color:         $brand-primary;
				font-size:     22px;
				font-weight:   300;
				text-align:    center;
				transition:    all 300ms ease-in-out;

				&:active,
				&:focus,
				&:hover {
					background: lighten($brand-primary, 65%);
					color:      darken($brand-primary, 10%);
				}
			}
		}
	}

	.navbar-form {
		border:     0;
		margin:     0;
		padding:    15px;
		transition: all 300ms ease-in-out;

		&:active,
		&:focus,
		&:hover {
			background: lighten($brand-primary, 65%);
		}

		.form-control {
			font-weight: 300;
		}
	}
}

.navbar-header {
	align-content:   space-between;
	align-items:     flex-end;
	background:      #ffffff;
	border:          0;
	display:         flex;
	flex-flow:       row nowrap;
	justify-content: space-between;
	margin-bottom:   0;
	margin-top:      0;
	padding:         15px 0;

	.navbar-brand {
		display:    block;
		flex-basis: 100%;
		margin:     0;
		order:      1;
		padding:    0 ($grid-gutter-width / 2);

		img {
			height: auto;
			width:  200px;
		}
	}

	.navbar-toggle {
		background:      $brand-primary;
		border:          0;
		justify-content: flex-end;
		margin:          0 15px 0 0;
		order:           2;
		overflow:        hidden;
		padding:         0;
		transition:      all $speed $easing;

		&:active,
		&:focus,
		&:hover {
			background: darken($brand-primary, 10%);
		}

		.toggle-text {
			color:          #ffffff;
			display:        block;
			font-weight:    300;
			margin:         0 auto;
			padding:        10px 25px 10px 10px;
			text-align:     center;
			text-transform: uppercase;
		}
	}
}

@media #{$small} {
	.navbar-default {
		.container {
			align-content:   space-between;
			align-items:     flex-end;
			display:         flex;
			flex-flow:       row nowrap;
			justify-content: space-between;
			padding:         15px ($grid-gutter-width / 2) 10px ($grid-gutter-width / 2);

			.navbar-header {
				display:    block;
				flex-basis: 200px;
				margin:     0 0 5px 0;
				padding:    0;
			}
		}

		.navbar-collapse {
			border:     0;
			flex-basis: 100%;
			padding:    0;
		}

		.navbar-nav {
			align-content:   flex-end;
			align-items:     stretch;
			background:      transparent;
			display:         flex;
			flex-flow:       row nowrap;
			justify-content: flex-end;
			margin:          0;

			> .open {
				> a {
					background-color: transparent;

					&:active,
					&:focus,
					&:hover {
						background-color: transparent;
						color:            darken($brand-primary, 10%);
					}
				}
			}

			> li {
				> a {
					border:      0;
					font-size:   $font-size-base;
					font-weight: 400;
					padding:     0 15px 0 0;

					&:active,
					&:focus,
					&:hover {
						background: transparent;
					}
				}

				&:last-of-type {
					a {
						padding: 0;
					}
				}

				> .dropdown-menu {
					margin:  0;
					padding: 0;
					top:     36px;
					width:   300px;

					.navbar-form {
						border:  0;
						margin:  0;
						padding: 12px 0 12px 12px;

						.input-group {
							width: 100%;
						}

						.form-control {
							font-weight: 300;
						}
					}
				}
			}
		}
	}
}

@media #{$medium} {
	.navbar-default {
		.navbar-nav {
			> li {
				> a {
					border:    0;
					font-size: $font-size-large;
				}
			}
		}
	}
}
