.jumbotron {
	background-position: 25% top;
	background-repeat:   no-repeat;
	background-size:     cover;
	padding:             0;

	p {
		&.front-page-cta {
			color:      #ffffff;
			font-size:  $font-size-large;
			margin-top: $line-height-computed;
			text-align: center;

			a {
				color:           #ffffff;
				text-decoration: underline;

				&:active,
				&:focus,
				&:hover {
					color: #ffffff;
				}
			}
		}
	}


	&.upper-masthead {

		.row {
			align-content:   space-between;
			align-items:     flex-end;
			display:         flex;
			flex-flow:       row nowrap;
			justify-content: space-between;
			margin:          0 -15px;
			padding:         0;

			div {
				&.fallback-title {
					flex-basis: 100%;
					margin:     ceil(($line-height-computed * 3)) 0 ceil(($line-height-computed * 1.25));
					padding:    0 15px;
					@include text-shadow;
					text-align: center;

					h1,
					h2 {
						color:     #ffffff;
						font-size: $font-size-h1;
						margin:    0;
					}
				}
			}

			.masthead-copy-area {
				display: none;
			}
		}
	}

	&.landing-masthead {
		.row {
			.masthead-quick-links {
				display: none;
			}
		}
	}

	&.call-to-action {
		border-bottom: 1px solid $brand-primary;
		border-top:    1px solid $brand-primary;
		margin:        30px 0;

		h2 {
			margin-top: 0;
			@include text-shadow;
		}
	}
}

@media #{ $small } {
	.jumbotron {
		background-position: left top;

		&.upper-masthead {

			.row {
				div {
					&.fallback-title {
						h1,
						h2 {
							font-size: $jumbotron-heading-font-size;
						}
					}
				}

				.masthead-copy-area {
					display: none;
				}
			}
		}
	}

	.courses-search-col {
		left:      50%;
		transform: translateX(-50%);
	}
}

@media #{$medium} {
	.jumbotron {
		&.upper-masthead {
			.row {
				div {
					&.fallback-title {
						h1,
						h2 {
							font-size: $jumbotron-heading-font-size;
						}
					}
				}
			}
		}
	}
}

@media #{$medium} {
	.jumbotron {
		&.upper-masthead {
			.row {
				div {
					&.fallback-title {
						h1,
						h2 {
							font-size: $jumbotron-heading-font-size;
						}
					}
				}
			}
		}
	}
}
