.jumbotron {
	background-position: 25% top;
	background-repeat:   no-repeat;
	background-size:     cover;
	padding:             0;

	p {
		&.front-page-cta {
			color:      #ffffff;
			font-size:  $font-size-large;
			margin-top: $line-height-computed;
			text-align: center;

			a {
				color:           #ffffff;
				text-decoration: underline;

				&:active,
				&:focus,
				&:hover {
					color: #ffffff;
				}
			}
		}
	}

	.container {
		.row {
			margin:   0 0 ceil(($line-height-computed * 1.5));
			position: relative;

			.masthead-quick-links {
				@include quick-links;
			}

			.masthead-copy-area {
				bottom:     0;
				position:   absolute;
				right:      0;
				text-align: left;

				h1,
				h2 {
					color:       #ffffff;
					font-size:   ceil(($font-size-h1 * 1.25));
					font-weight: 500;
					margin-top:  0;
					@include text-shadow;
				}

				p {
					color:     #ffffff;
					font-size: ceil(($font-size-large * 1.25));
					@include text-shadow;

					&:last-of-type,
					&:only-of-type {
						margin-bottom: 0;
					}

					a {
						color:       #ffffff;
						font-weight: 500;

						&:active,
						&:focus,
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}

			.fallback-title {
				margin:     ceil(($line-height-computed * 3)) 0 ceil(($line-height-computed * 1.25));
				@include text-shadow;
				text-align: center;

				h1,
				h2 {
					color:     #ffffff;
					font-size: ceil(($font-size-h1));
					margin:    0;
				}

				p {
					color:         #ffffff;
					font-size:     ceil(($font-size-large * 1.25));
					margin-bottom: 0;
					@include text-shadow;

					a {
						color:       #ffffff;
						font-weight: 500;

						&:active,
						&:focus,
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}


	&.upper-masthead {

		.row {
			margin: 0;

			.masthead-copy-area {
				display: none;
			}
		}
	}

	&.landing-masthead {
		.row {
			.masthead-quick-links {
				display: none;
			}
		}
	}

	&.lower-masthead {
		padding: 40px 0;
	}
}

@media #{ $small } {
	.jumbotron {
		background-position: left top;

		&.upper-masthead {
			.row {
				.masthead-copy-area {
					display: block;
				}
			}
		}

		&.landing-masthead {
			.row {
				.masthead-quick-links {
					display: block;
				}

				.masthead-copy-area {
					text-align: right;

				}
			}
		}
	}

	.courses-search-col {
		left:      50%;
		transform: translateX(-50%);
	}
}

@media #{ $large } {
	.jumbotron {
		.container {
			.row {
				margin:   0 0 ceil(($line-height-computed * 1.5));
				position: relative;

				.masthead-quick-links {
					@include quick-links;
				}

				.masthead-copy-area {
					bottom:     0;
					position:   absolute;
					right:      0;
					text-align: right;

					h1,
					h2 {
						font-size: ceil(($font-size-h1 * 2));
					}

					p {
						font-size: ceil(($font-size-large * 1.5));
					}
				}

				.fallback-title {
					h1,
					h2 {
						font-size: ceil(($font-size-h1 * 1.5));
					}

					p {
						font-size: ceil(($font-size-large * 1.5));
					}
				}
			}
		}
	}
}
