.resources-container {
	.resource-row {
		align-content:   space-between;
		align-items:     stretch;
		display:         flex;
		flex-flow:       row wrap;
		justify-content: space-between;
		margin-left:     -15px;
		margin-right:    -15px;

		> .resource-col {
			padding: 0 15px;
			width:   100%;

			&:first-of-type {
				h4 {
					margin-bottom: 15px;
				}
			}

			> div {
				@extend .well;
				min-height: 100%;

				img {
					margin-bottom: ceil($line-height-computed / 2);
				}
			}
		}
	}
}

@media #{$small} {
	.resources-container {
		.resource-row {
			> .resource-col {
				width: 33.33333%;
			}
		}
	}
}
